body {
  overflow-x: hidden;
  line-height: 1.75;
  font-family: "Muli", sans-serif; }

* {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  font-family: 'Muli', sans-serif; }

ul li {
  list-style: none; }

* {
  font-family: "Muli", sans-serif;
  box-sizing: border-box; }

/* signup page */
.signup-page {
  margin-top: 5%;
  padding: 3% 12%; }

.signup-header a i {
  color: #ccc; }

.signup-content h1 {
  color: #333;
  font-size: 55px;
  font-weight: 600; }

.signup-content h1 a {
  color: #777; }

.signup-content h1 samp {
  color: #ccc; }

.signup-content h1 a:hover {
  color: #fe5a1a; }

.name-div label,
.email-div label {
  font-weight: 600;
  color: #333; }

.name-label {
  padding-right: 46px; }

.email-label {
  padding-right: 80px; }

.password-label {
  padding-right: 46px; }

.name-div input,
.email-div input {
  outline: none;
  color: #ccc;
  border: 0;
  background-color: #f5f5f5;
  width: 55%;
  height: 55px;
  padding-left: 20px;
  font-weight: 600; }

.name-div,
.email-div {
  margin-top: 20px; }

.sginin-btn {
  padding: 1% 2%;
  color: #fff;
  background-color: #fe5a1a;
  font-weight: 600;
  border: 2px solid #fe5a1a;
  border-radius: 0; }

.sginin-btn:hover {
  color: #fe5a1a;
  background-color: #fff; }

.footer-form {
  margin-top: 50px; }

.footer-form div {
  margin-top: 20px;
  margin-left: -53px; }

.footer-form a {
  color: #fe5a1a;
  font-weight: 600; }
