$mainLogInPageColor : #fe5a1a;
$greenColor : #1cc373;

body {
  overflow-x: hidden;
  line-height: 1.75;
  font-family: "Muli", sans-serif;
}

* {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  font-family: 'Muli', sans-serif;
}

ul li {
  list-style: none;
}

* {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
}

/* log in page */
.login-page {
  margin-top: 5%;
  padding: 3% 12%;
}
.login-header a i{
  color: #ccc
}
.login-header span {
  color: #333;
  font-weight: 100;
  font-size: 15px;
}
.login-content h1{
  color: #333;
  font-size: 55px ;
  font-weight: 600
}
.login-content h1 a {
  color: #777
}
.login-content h1 samp {
  color: #ccc
}
.login-content h1 a:hover {
  color: $mainLogInPageColor
}
.email-div label{
  font-weight: 600;
  color: #333;
}
.email-label  {
  padding-right: 80px;
}
.password-label{
  padding-right: 46px;
}
.email-div input {
  outline: none;
  color: #ccc;
  border: 0;
  background-color: #f5f5f5;
  width: 55%;
  height: 55px;
  padding-left: 20px;
  font-weight: 600;
}
.email-div {
  margin-top: 20px;
}
.sginin-btn {
  padding: 1% 2%;
  color: #fff;
  background-color: $mainLogInPageColor;
  font-weight: 600;
  border: 2px solid $mainLogInPageColor;
  border-radius: 0
}
.sginin-btn:hover {
  color: $mainLogInPageColor;
  background-color: #fff;
}
.footer-form{
  margin-top: 50px;
}
.footer-form div {
  margin-top:20px;
  margin-left: -53px;
}
.footer-form a {
  color: $mainLogInPageColor;
  font-weight: 600;
}
