$mainProductPageColor : #fe5a1a;
$greenColor : #1cc373;

body {
  overflow-x: hidden;
  line-height: 1.75;
  font-family: "Muli", sans-serif;
}

* {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  font-family: 'Muli', sans-serif;
}

ul li {
  list-style: none;
}

* {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
}

/* procduct content start */
.beat-header a i {
  color: #ccc;
}
.product-content {
  margin-top: 12%;
  padding: 2% 13%;
}

.beat-header {
  font-size: 13px;
  font-weight: 500;
  color: #ccc;
}

.beat-header span {
  color: #333;
  padding-left: 0.5%;
}

.beat-header i {
  margin-right: 0.5%;
}

.beat-img {
  width: 434px;
  height: 434px;
  overflow: hidden;
}

.beat-img img {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.beat-img img:hover {
  width: 200%
}

.beat-descriaption {
  margin-top: 3%;
}

.beat-imgs {
  width: 22.2%;
  height: 100px;
  margin-top: 4%;
  display: inline-block;
}

.beat-imgs img {
  width: 100%;
  height: 100%;
  opacity: 0.5
}

.beat-imgs img:hover {
  opacity: 1
}

.first-line {
  width: 100%;
}

.first-line,
.first-line div {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  display: inline-block;

}

.availability {
  margin-left: 10%;
}

.green {
  color: $greenColor !important;
}

.beat-pill {
  font-size: 40px;
  margin-top: 8%;
  color: #333;
}

.Add {
  color: $mainProductPageColor;
  font-weight: 600;
  margin-top: 5%;
}

.price {
  margin-top: 2%;
  font-size: 40px;
  font-weight: 600;
  color: #333;
}

.note {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  outline: #ebebeb auto 5px;
  box-sizing: border-box;
  color: #777;
  box-shadow: none !important;
  font-weight: 600
}

.note-label {
  color: #7f7f7f;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
}

input.note:focus {
  outline: $mainProductPageColor auto 5px;
}

.quantity {
  width: 72px !important;
  height: 50px !important;
  margin-top: 50px !important;
  padding: 3% 3% !important;
  border: 0px !important;
  border-bottom: 3px solid #777 !important;
}

input.quantity:focus {
  outline: none;
}
.quantity input {
  height: 100% !important;
  padding: 47% 20%;
  outline: none;
  border: none;
  box-shadow: none;
  margin-top: -9px;

}
.quantity-nav  {
  margin-top: -10px !important
}
.add-btn {
  color: #fff;
  background-color: $greenColor;
  border: 1px solid $greenColor;
  padding: 4% 8%;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0;
  margin-top: -76px;
  margin-left: 94px;
}
.add-btn a{
  color: #FFF
}
.add-btn:hover {

  background: #fff;
}
.add-btn:hover a{
  color: $greenColor;
}
.cart2 {
  display: none;
}

.add-btn:hover .cart1 {
  display: none;
  transition: all .7s ease-in-out;
}

.add-btn:hover .cart2 {
  display: inline-block;
  transition: all .7s ease-in-out;
}

.heart-div {
  margin-top: -19%;
  margin-left: 65%;
}

.heart2 {
  display: none;
}
.heart1 {
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 2% 2%;
}

.heart:hover .heart1 {
  display: none;
}

.heart:hover .heart2 {
  display: block;
  border: 3px solid $mainProductPageColor;
  border-radius: 50%;
  padding: 2% 2%;
}

.heart {
  height: 100%;
  width: 100%
}

.Layer-img {
  margin-top: 62px;
  cursor: pointer;
}
@media (max-width:991px){
  .beat-descriaption .left-side {
    width: 100%;
  }
  .beat-img {
    width: 100%;
  }
  .beat-imgs {
    width: 24.4%;
  }
  .right-side {
    margin-top: 50px;
  }
  .heart-div {
    margin-left: 100%;
    margin-top: -15%;
  }
  .beat-products h2 {
    font-size: 20px !important;
  }
}
@media (min-width:991px) and (max-width:1226px) {
  .beat-descriaption {
    width: 130%;
    margin-left: -15%
  }
  .beat-imgs {
    width: 20.8%;
  }
.beat-header{
  margin-left: -15%
}
}
/** ***/
//
.tab {
  overflow: hidden;
  margin-top: 50px;
}

.tab button {
  background-color: inherit;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #777;
  margin-left: 20px;
}

.tab button:hover {
  border-bottom: 3px solid #fe5a1aba
}

.tab button.active {
  border-bottom: 3px solid $mainProductPageColor;
}

.tabcontent {
  display: none;
  padding: 7% 5%;
  background-color: #f5f5f5;
  border-top: none;
  margin-left: 20px
}

.tabcontent p,
.tabcontent h6 {
  font-size: 16px;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: #777;
}

.tabcontent p {
  width: 80%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Muli", sans-serif;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.tabcontent p strong {
  color: #333;
  font-weight: 600;
}

.tabcontent ul li,
.tabcontent span {
  list-style: none;
  // list-style-image:
  color: #777;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 600;
  margin-top: 10px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.tabcontent ul li::before {
  display: inline-block;
  content: '';
  margin-right: 12px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: $mainProductPageColor;
}

.tabcontent span {
  margin-top: 50px;
}

.tabcontent ul {
  margin: 0 0 15px 30px;
  width: 80%;
}

#text,
#text a,
#html {
  font-size: 16px;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #777;

}

.Details {
  margin-top: 18px;
  font-weight: 400;
  color: #777;
  font-size: 16px;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.Details-title {
  font-weight: 600;
  color: #333;
}

#additional hr {
  width: 60%;
  margin-left: 0%;
  margin-top: 1%;
}

#additional .row {
  margin-top: -2px;
}

#additional .first-word {
  font-weight: 600;
  color: #333;
}

#additional .second-word {
  font-weight: 600;
  color: #777;
}

#tags .tags div {
  display: inline-block;
  margin-top: 2%;
}

#tags .tags div {
  background-color: $mainProductPageColor;
  color: #fff;
  padding: 1% 2%;
}

.review div a {
  color: $mainProductPageColor;
  font-weight: 600
}

.review {
  width: 100%;
}

.review div {
  color: #777;
  margin-top: 50px;
}

.review-Customer {
  margin-top: 20px;
}

#review {
  padding-left: 70px;
}

#review hr {
  width: 80%;
  margin-left: 0%;
}

/*** **/
.product-items {
  padding-bottom: 50px;
}
.product-header {
  display: inline-block;
}

.beat-products {
  margin-top: 100px;
}

.beat-products h2 {
  color: #333;
  font-size: 30px;
  line-height: 1.4;
  font-weight: 700;
}

.icon-left-open-2,
.icon-right-open-2 {
  color: #b7b7b7;
  font-size: 34px;

}

.icon-left-open-2::before {
  content: '\e8dd';
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.icon-right-open-2::before {
  content: '\e8de';
  font-family: myfont;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

.icon-silde {
  float: right;
  margin-top: -6%;
}

.product-items {
  margin-top: 4%;
  width: 102%;

}

.product-item {
  margin-top: 4%;
}

.product-item .overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 4;
  opacity: 0
}

.product-item .content {
  position: relative;
  color: #333;
}

.product-item .content .overlay2 {
  z-index: 2;
  background: rgba(255, 255, 255, .9);
  padding-top: 80px;
}

.product-item .content p {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
  transition: all .7s ease-in-out
}

.product-item .content h3 {
  font-weight: bold;
  margin-top: 0;
  transition: all .7s ease-in-out
}

.product-item .content .paragarph {
  height: 60px;
  overflow: hidden;
}

.product-item .content .hi3 {
  height: 43px;
  overflow: hidden;
}

.product-item .content .paragarph p {
  margin-top: 60px
}

.product-item .content .hi3 h3 {
  margin-top: 30px
}

.product-item .commits {
  margin-top: 40px
}

.product-item .commits a:nth-of-type(2) {
  margin-left: 15px;
  margin-right: 15px;
}

.product-item .commits a {
  padding: 15px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid transparent;
  position: relative;
}

.product-item .commits a img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#demos .owl-carousel .item {
  height: 100% !important;
  width: 100%;
background: #fff !important;
padding: 0 !important;
display: inline-block !important
}
.owl-nav button{
  background-color: #fff;
  color: #ccc;
}
.owl-nav {
  margin-left: 80%;
  cursor: pointer;
}
.owl-nav button span{
  font-size: 40px;
  cursor: pointer;
}
.product-item .content:hover .overlay2 {
  opacity: 1
}

.product-item .commits a img:last-of-type {
  opacity: 0
}

.product-item .content:hover .hi3 h3,
.product-item .content:hover .paragarph p {
  margin-top: 0
}

.product-item .commits a:hover img:first-of-type {
  opacity: 0
}

.product-item .commits a:hover img:last-of-type {
  opacity: 1
}

.product-item .commits a:hover {
  border: 2px solid #fff;
}

.product-item .commits a:first-of-type:hover {
  border: 2px solid #1CC373
}

.product-item .commits a:last-of-type:hover {
  border: 2px solid $mainProductPageColor;
}

.product-item .commits a:nth-of-type(2):hover {
  border: 2px solid $mainProductPageColor;
}

.product-item .row div:nth-of-type(4) .content .paragarph,
.product-item .row div:nth-of-type(5) .content .paragarph {
  height: 30px
}
.owl-dots{
  display: none !important

}
// Imgae zoom
.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
}
